<div class="container">
    <h2>Lista de Usuarios</h2>
    
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Edad</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.nombre}}</td>
            <td>{{user.correo}}</td>
            <td>{{user.edad}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>